  <launch>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro" />


  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <arg name="robot_name" value="robot1" />
    <arg name="x" value="0.5" />
    <arg name="y" value="0.5" />
    <arg name="z" value="0" />
    <arg name="yaw" value="0" />

    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/slam_gmapping.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <param name="tf_prefix" value="$(arg robot_name)_tf" />
    <param name="map_merge/init_pose_x" value="$(arg x)" />
    <param name="map_merge/init_pose_y" value="$(arg y)" />
    <param name="map_merge/init_pose_z" value="$(arg z)" />
    <param name="map_merge/init_pose_yaw" value="$(arg yaw)" />
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/move_base.launch">
      <arg name="robot_name"  value="$(arg robot_name)" />
    </include>
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/one_robot.launch" >
      <arg name="init_pose" value="-x $(arg x) -y $(arg y) -z $(arg z)" />
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/explore.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <node pkg="multiple_turtlebot3" type="yolo_localization.py" name="yolo3d" args="$(arg robot_name)" />
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <arg name="robot_name" value="robot2" />
    <arg name="x" value="-0.5" />
    <arg name="y" value="0.5" />
    <arg name="z" value="0" />
    <arg name="yaw" value="0" />

    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/slam_gmapping.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <param name="tf_prefix" value="$(arg robot_name)_tf" />
    <param name="map_merge/init_pose_x" value="$(arg x)" />
    <param name="map_merge/init_pose_y" value="$(arg y)" />
    <param name="map_merge/init_pose_z" value="$(arg z)" />
    <param name="map_merge/init_pose_yaw" value="$(arg yaw)" />
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/move_base.launch">
      <arg name="robot_name"  value="$(arg robot_name)" />
    </include>
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/one_robot.launch" >
      <arg name="init_pose" value="-x $(arg x) -y $(arg y) -z $(arg z)" />
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/explore.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <node pkg="multiple_turtlebot3" type="yolo_localization.py" name="yolo3d" args="$(arg robot_name)" />
  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="robot3">
    <arg name="robot_name" value="robot3" />
    <arg name="x" value="0.5" />
    <arg name="y" value="-0.5" />
    <arg name="z" value="0" />
    <arg name="yaw" value="0" />

    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/slam_gmapping.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <param name="tf_prefix" value="$(arg robot_name)_tf" />
    <param name="map_merge/init_pose_x" value="$(arg x)" />
    <param name="map_merge/init_pose_y" value="$(arg y)" />
    <param name="map_merge/init_pose_z" value="$(arg z)" />
    <param name="map_merge/init_pose_yaw" value="$(arg yaw)" />
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/move_base.launch">
      <arg name="robot_name"  value="$(arg robot_name)" />
    </include>
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/one_robot.launch" >
      <arg name="init_pose" value="-x $(arg x) -y $(arg y) -z $(arg z)" />
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/explore.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <node pkg="multiple_turtlebot3" type="yolo_localization.py" name="yolo3d" args="$(arg robot_name)" />
  </group>

  <!-- BEGIN ROBOT 4-->
  <group ns="robot4">
    <arg name="robot_name" value="robot4" />
    <arg name="x" value="-0.5" />
    <arg name="y" value="-0.5" />
    <arg name="z" value="0" />
    <arg name="yaw" value="0" />

    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/slam_gmapping.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <param name="tf_prefix" value="$(arg robot_name)_tf" />
    <param name="map_merge/init_pose_x" value="$(arg x)" />
    <param name="map_merge/init_pose_y" value="$(arg y)" />
    <param name="map_merge/init_pose_z" value="$(arg z)" />
    <param name="map_merge/init_pose_yaw" value="$(arg yaw)" />
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/move_base.launch">
      <arg name="robot_name"  value="$(arg robot_name)" />
    </include>
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/one_robot.launch" >
      <arg name="init_pose" value="-x $(arg x) -y $(arg y) -z $(arg z)" />
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <include file="$(find multiple_turtlebot3)/launch/frontier_exploration/explore.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <node pkg="multiple_turtlebot3" type="yolo_localization.py" name="yolo3d" args="$(arg robot_name)" />
  </group>
</launch>
<!-- vi: set et sw=2: -->
